networks:
  backend:

services:
  postgres:
    image: postgres:latest
    expose:
      - "5432"
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      start_period: 5s
      start_interval: 1s
      interval: 5s
      timeout: 5s
      retries: 3
    networks:
      - backend

  redis:
    image: redis:latest
    expose:
      - "6379"
    networks:
      - backend

  celery:
    build:
      context: .
      dockerfile: Dockerfile.celery
    container_name: celery
    networks:
      - backend
    volumes:
      - ./data:/data
    depends_on:
      - redis

  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: "service_healthy"
      celery:
        condition: "service_started"
    networks:
      - backend
    volumes:
      - ./data:/data
    environment:
      - PYTHONUNBUFFERED=1
